<!DOCTYPE html>
<html lang="francais">
<head>
    <meta charset="UTF-8">
    <title>Music-All</title>
    <link rel="stylesheet" type="text/css" href="/css/aS.css">
</head>
<body>
    <div>
    <h1> YESSSSS </h1>
    <div class="cadres-container">
        <h3>Amis</h3>
        <h4>Autres</h4>
    </div>
    <p>Invitez vos amis à rejoindre votre session</p>
    
    </div>
</body>
</html>