<!DOCTYPE html>
<html lang="francais">
<head>
    <meta charset="UTF-8">
    <title>Music-All</title>
    <link rel="stylesheet" type="text/css" href="/css/aS.css">
</head>
<body>
    <div>
    <div class="cadres-container">
        <h3>Amis</h3>
        <h4 id="redirect-to-autreSession">Autres</h4>
        <script>
            document.getElementById('redirect-to-autreSession').addEventListener('click', function() {
                window.location.href = '/autreSession';
            });
        </script>
    </div>
    <p>Invitez vos amis à rejoindre votre session</p>
    <img src="/image/ListAmis.jpg" alt="List Amis" class="listAmis-image">
    </div>
</body>
</html>