<!DOCTYPE html>
<html lang="francais">
<head>
    <meta charset="UTF-8">
    <title>Music-All</title>
    <link rel="stylesheet" type="text/css" href="/css/aS.css">
</head>
<body>
    <div>
    <div class="cadres-container">
        <h4 id="redirect-to-amisSession">Amis</h4>
        <script>
            document.getElementById('redirect-to-amisSession').addEventListener('click', function() {
                window.location.href = '/amisSession';
            });
        </script>
        <h3>Autres</h3>
    </div>
    <p>Envoyer une invitation aux personnes autours de vous pour rejoindre votre session</p>
    </div>
</body>
</html>