<!DOCTYPE html>
<html lang="francais">
<head>
    <meta charset="UTF-8">
    <title>Music-All</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div>
        <h1>Music-All</h1>
        <img src="/image/batterie.png" alt="Batterie" class="batterie-image"> <!-- Assurez-vous que le chemin vers l'image est correct -->
        <img src="/image/compte_utilisateur.jpg" alt="Compte" class="compte-image"> <!-- Assurez-vous que le chemin vers l'image est correct -->
        <h2 id="redirect-to-amisSession"> + Créer une session</h2>
        <script>
            document.getElementById('redirect-to-amisSession').addEventListener('click', function() {
                window.location.href = '/amisSession';
            });
        </script>
        <div class="cadre-bas-page"></div>
        <img src="/image/noteM.jpg" alt="note" class="note-image"> <!-- Assurez-vous que le chemin vers l'image est correct -->
        <img src="/image/reglage.jpg" alt="reglage" class="reglage-image"> <!-- Assurez-vous que le chemin vers l'image est correct -->
        <img src="/image/amis.jpg" alt="amis" class="amis-image"> <!-- Assurez-vous que le chemin vers l'image est correct -->
    </div>
</body>
</html>