<!DOCTYPE html>
<html lang="francais">
<head>
    <meta charset="UTF-8">
    <title>Music-All</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div>
        <h1>Music-All</h1>
        <img src="/image/batterie.png" alt="Batterie" class="batterie-image"> <!-- Assurez-vous que le chemin vers l'image est correct -->
        <img src="/image/compte_utilisateur.jpg" alt="Compte" class="compte-image"> <!-- Assurez-vous que le chemin vers l'image est correct -->
        <h2> + Créer une session</h2>
        <img src="/image/noteM.jpg" alt="note" class="note-image"> <!-- Assurez-vous que le chemin vers l'image est correct -->
    </div>
</body>
</html>