<!DOCTYPE html>
<html lang="francais">
<head>
    <meta charset="UTF-8">
    <title>Music-All</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div>
        <div class="image-conteneur">
            <img src="/image/logo.png" alt="Logo" class="logo-image">
        </div>  
        <img src="/image/batterie.png" alt="Batterie" class="batterie-image"> <!-- Assurez-vous que le chemin vers l'image est correct -->
        <img src="/image/compte_utilisateur.jpg" alt="Compte" class="compte-image"> <!-- Assurez-vous que le chemin vers l'image est correct -->
        <button class="mus-bouton">Rajouter une musique</button>
        <div class="conteneur_boum">
            <img src="/image/boum_boum.jpg" alt="boum-boum" class="boum_boum-image">
        </div>
        <img src="/image/croix.png" alt="Compte" class="croix-image" id="croixBtn">

        <div id="monPopup" class="popup-conteneur" style="display:none;">
            <div class="popup-contenu">
                <span class="close-btn" id="closePopup">&times;</span>
                <p>Vous êtes sur que vous voulez quitter la session ??</p>
                <button id="quitterBtn">Oui la soirée est terminée</button>
            </div>
        </div>
        
        <script>
            document.getElementById('croixBtn').addEventListener('click', function() {
                document.getElementById('monPopup').style.display = 'block';
            });
        
            document.getElementById('closePopup').addEventListener('click', function() {
                document.getElementById('monPopup').style.display = 'none';
            });
        
            window.addEventListener('click', function(event) {
                var popup = document.getElementById('monPopup');
                if (event.target == popup) {
                    popup.style.display = 'none';
                }
            });
        
            // Gestionnaire d'événements pour le bouton "Quitter"
            document.getElementById('quitterBtn').addEventListener('click', function() {
                window.location.href = '/'; // Remplacez '/quitterSession' par l'URL de votre choix
            });
        </script>

        <div class="cadre-bas-page"></div>
        <img src="/image/noteM.jpg" alt="note" class="note-image"> <!-- Assurez-vous que le chemin vers l'image est correct -->
        <img src="/image/reglage.jpg" alt="reglage" class="reglage-image"> <!-- Assurez-vous que le chemin vers l'image est correct -->
        <img src="/image/amis.jpg" alt="amis" class="amis-image"> <!-- Assurez-vous que le chemin vers l'image est correct -->
    </div>
</body>
</html>