h1 {
    font-size: 60px; /* Taille de la police */
    color: #FFD700; /* Couleur dorée */
    text-align: center; /* Centrage horizontal du texte */
    text-shadow: 0 0 20px #FFF, 0 0 30px #FFF, 0 0 40px #FFD700, 0 0 70px #FFD700; /* Ombre portée lumineuse */
    letter-spacing: 5px; /* Espacement entre les lettres */
    text-transform: uppercase; /* Texte en majuscules */
    animation: glow 2s ease-in-out infinite alternate; /* Animation lumineuse */
    margin-top: 100px; /* Positionnement à 100px du haut */
    margin-bottom: 600px; /* Optionnel: ajustez selon vos besoins pour l'espacement en dessous du titre */
}
@keyframes glow {
    from {
        text-shadow: 
            0 0 10px #FFF, 
            0 0 20px #FFF, 
            0 0 30px #FFD700, 
            0 0 40px #FFD700, 
            0 0 50px #FFD700, 
            0 0 60px #FFD700, 
            0 0 70px #FFD700,
            0 0 80px #FFD700, 
            0 0 90px #FFD700;
    }
    to {
        text-shadow: 
            0 0 20px #FFF, 
            0 0 40px #FFF, 
            0 0 60px #FFD700, 
            0 0 80px #FFD700, 
            0 0 100px #FFD700, 
            0 0 120px #FFD700, 
            0 0 140px #FFD700,
            0 0 160px #FFD700, 
            0 0 180px #FFD700;
    }
}

h2 {
    width: 500px; /* Largeur du cadre */
    height: 200px; /* Hauteur du cadre */
    background-color: transparent; /* Rend le fond transparent */
    border: 2px solid white; /* Définit la bordure comme étant blanche */
    display: flex; /* Utilisation de Flexbox pour le centrage */
    justify-content: center; /* Centrage horizontal du texte */
    align-items: center; /* Centrage vertical du texte */
    font-size: 40px; /* Taille de la police */
    margin: 0 auto; /* Centrage du cadre dans le corps de la page */
    color: white; /* Couleur du texte en blanc */
    align-items: center; 
}

.batterie-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px; /* Vous pouvez ajuster la taille selon vos besoins */
    height: 100px;
}
.compte-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px; /* Vous pouvez ajuster la taille selon vos besoins */
    height: 100px;
}

.note-image, .reglage-image, .amis-image {
    position: fixed;
    bottom: 0;
    width: 80px;
    height: 100px;
    background-color: #ccc;
    text-align: center;
    padding: 10px;
    z-index: 1100; /* S'assure que ces éléments sont au-dessus du cadre */
}

/* Ajustements spécifiques à chaque classe pour positionner correctement les images */
.note-image {
    left: 45%;
}

.reglage-image {
    left: 77%;
}

.amis-image {
    left: 13%;
}

.cadre-bas-page {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 130px;
    background-color: black;
    z-index: 1000; /* Assure que le cadre est sous les images */
    background-image: linear-gradient(rgba(86, 86, 87, 0.207) 1%, black 100%);    
}

/* Assurez-vous que le reste de votre contenu ne chevauche pas l'image */
body {
    background-color: black ; /* Arrière-plan sombre pour le contraste */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrage horizontal des éléments enfants */
    justify-content: flex-start; /* Alignement des éléments enfants depuis le haut */
    min-height: 100vh;
    margin: 0;
    padding-top: 100px; /* Ajoute un padding de 100px au haut du body */     
}
