h1 {
    font-size: 60px; /* Taille de la police */
    color: #FFD700; /* Couleur dorée */
    justify-content: center; /* Centrage horizontal du texte */
    text-shadow: 0 0 20px #FFF, 0 0 30px #FFF, 0 0 40px #FFD700, 0 0 70px #FFD700; /* Ombre portée lumineuse */
    letter-spacing: 5px; /* Espacement entre les lettres */
    text-transform: uppercase; /* Texte en majuscules */
    animation: glow 1.5s ease-in-out infinite alternate; /* Animation lumineuse */
}

@keyframes glow {
    from {
        text-shadow: 
            0 0 10px #FFF, 
            0 0 20px #FFF, 
            0 0 30px #FFD700, 
            0 0 40px #FFD700, 
            0 0 50px #FFD700, 
            0 0 60px #FFD700, 
            0 0 70px #FFD700,
            0 0 80px #FFD700, 
            0 0 90px #FFD700;
    }
    to {
        text-shadow: 
            0 0 20px #FFF, 
            0 0 40px #FFF, 
            0 0 60px #FFD700, 
            0 0 80px #FFD700, 
            0 0 100px #FFD700, 
            0 0 120px #FFD700, 
            0 0 140px #FFD700,
            0 0 160px #FFD700, 
            0 0 180px #FFD700;
    }
}


h2 {
    width: 500px; /* Largeur du cadre */
    height: 200px; /* Hauteur du cadre */
    background-color: transparent; /* Rend le fond transparent */
    border: 2px solid white; /* Définit la bordure comme étant blanche */
    display: flex; /* Utilisation de Flexbox pour le centrage */
    justify-content: center; /* Centrage horizontal du texte */
    align-items: center; /* Centrage vertical du texte */
    font-size: 40px; /* Taille de la police */
    margin: 0 auto; /* Centrage du cadre dans le corps de la page */
    color: white; /* Couleur du texte en blanc */
}

.batterie-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px; /* Vous pouvez ajuster la taille selon vos besoins */
    height: 100px;
}
.compte-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px; /* Vous pouvez ajuster la taille selon vos besoins */
    height: 100px;
}

/* Assurez-vous que le reste de votre contenu ne chevauche pas l'image */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black ; /* Arrière-plan sombre pour le contraste */
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;       
}
